
<div class="header">
			
    <!-- Logo -->
    <div class="header-left">
        <a href="/admindashboard" class="logo">
            <img src="/assets/img/logo.png" alt="Logo">
        </a>
        <a href="/admindashboard" class="logo logo-small">
            <img src="/assets/img/logo-small.png" alt="Logo" width="30" height="30">
        </a>
</div>
    
    <a href="javascript:void(0);" id="toggle_btn">
        <i class="fas fa-align-left"></i>
    </a>
    
    
    <!-- Mobile Menu Toggle -->
    <a class="mobile_btn" id="mobile_btn">
        <i class="fas fa-bars"></i>
    </a>
    <!-- /Mobile Menu Toggle -->
    
    <!-- Header Right Menu -->
    <ul class="nav user-menu">

        <p align=right><a href="/adminlogout"><i class="fas fa-sign-out-alt fa-2x"></i></a>
        
    </ul>
    <!-- /Header Right Menu -->
    
</div>
<!-- /Header -->

<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"> 
                    <span>Main Menu</span>
                </li>
                <li class="submenu active">
                    <a href="#"><i class="fas fa-clock"></i><span>Dashboard</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="/admindashboard" class="active">Admin Dashboard</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->